@model ProductsViewModel


<div class="container">
    <div class="btn-group" id ="dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                @foreach (var item in Model.ProductTypes) {

                    <a class="dropdown-item" asp-action="SelectProducts" asp-route-id="@item.ProductTypeId"
                    onclick="">@item.Name</a>
                }
                <a class="dropdown-item" asp-action="list">Remove filters.</a>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Products)
    {
        <div class="card border-secondary mb-3" style="max-width: 20rem">
            <a asp-action="Details" asp-route-id="@item.ProductId"><div class="card-header">@item.Name</div></a>
            <div class="card-body">
                <h4 class="card-title">@item.Description</h4>
                <div class="cover"><img src="@item.ImgURL" alt="Bu ürünün görüntüsü henüz mevcut değil." style="width:200px;height:300px"></div>
            </div>
        </div>
    
    }
</div>
